<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="classes" name="Suite">
<listeners><listener class-name="Reports.TestListeners"></listener></listeners>
  <test thread-count="3" parallel="classes" name="Test">
    <classes>
      <class name="RegressionTest.Test1"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
